
.button-bar {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  display: table;
  table-layout: fixed;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  margin: 0;
  border: 0px solid rgba(112, 112, 112, 1);
}
.button-bar__item {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  display: table-cell;
  width: auto;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: relative;
  position: relative;
  overflow: hidden;
  border-top: 1px solid rgba(112, 112, 112, 1);
  border-bottom: 1px solid rgba(112, 112, 112, 1);
  padding: 0;
}
.button-bar > .button-bar__item:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.button-bar > .button-bar__item:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.button-bar__item > input {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
}
.button-bar__item:first-child > .button-bar__button {
  border-left: 1px solid rgba(112, 112, 112, 1);
  border-right: 1px solid rgba(112, 112, 112, 1);
}
.button-bar__item:last-child > .button-bar__button {
  border-right: 1px solid rgba(112, 112, 112, 1);
}



.button-bar__button {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  background-color: transparent;
  color: rgba(112, 112, 112, 1);
  border: 0px solid rgba(112, 112, 112, 1);
  border-right: 1px solid rgba(112, 112, 112, 1);
  font-weight: 400;
  padding: 0 8px;
  height: 27px;
  line-height: 27px;
  font-size: 13px;
  width: 100%;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
  -moz-transition: background-color 0.2s linear, color 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.button-bar__button:active,
:active + .button-bar__button {
  background-color: rgba(112, 112, 112, 0.2);
  border: 0px solid rgba(112, 112, 112, 1);
  border-right: 1px solid rgba(112, 112, 112, 1);
  height: 27px;
  line-height: 27px;
  font-size: 13px;
  width: 100%;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  padding: 0;
}
.button-bar__item.active > .button-bar__button,
:checked + .button-bar__button {
  background-color: rgba(112, 112, 112, 1);
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button-bar__button:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.button-bar__button:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button-bar__button:focus {
  outline: 0;
}
.left-bar{
	border-width: 0 1px 0 1px;
}